<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>User Activity Page</title>
</head>

<body>
  <center>
    <h1 style="color:red;"> Hey this is webpage for user activities
  </center>
  </h1><br><br><br>
  {% for key , value in allLogin.items %}
  <b>
    <h2>Login Activity Number: {{key}}</h2>
  </b>
  {% for key1 , value1 in value.items %}
  <h4>{{ key1 }} ==== {{ value1 }}</h4>
  {% endfor %}
  <br><br>
  {% endfor %}
</body>

</html>